@charset "utf-8";
$grayText: #828282;
$blackText: #383838;
$blueText: #1da1f2;
$whiteText: #fff;
$borderColor: #e1e1e1;
$min-text: 12px;
$middle-text: 14px;
$big-text: 16px;
%pad-box {
    border: 1px solid $borderColor;
    border-radius: 4px;
    background: $whiteText;
    box-sizing: border-box;
    overflow: hidden;
}
%pad-19 {
    padding: 0 19px;
    @extend %pad-box;
}
%pad-15 {
    padding: 0 15px;
    @extend %pad-box;
}
%textEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
%btn {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    font-size: $min-text;
    border-radius: 2px;
    margin: 0 5px;
    cursor: pointer;
}
//会话提示盒子
%dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
}
//确认取消两种按钮
@mixin btn($width:0,$height:0,$boolean:true){
    width: $width;
    height: $height;
    line-height: $height;
    @extend %btn;
    @if $boolean {
        color: $whiteText;
        background-color: $blueText;
    }
    @else {
        color: $grayText;
        background-color: $whiteText;
        border:1px solid $borderColor;
    }
}
//输入框
@mixin text($width:0,$height:0,$boolean:true){
    width: $width;
    height: $height;
    line-height: $height;
    color: $grayText;
    box-sizing: border-box;
    border:1px solid $borderColor;
    padding: 0 10px;

}
//模块盒子
@mixin boxSize($width:0,$height:0){
    width: $width;
    height: $height;
    @extend %pad-19;
}