@charset "utf-8";
//公共
@import "./base/_base";
//盒子头部
.box-header {
    height: 44px;
    border-bottom: 1px solid $borderColor;
    font-weight: normal;
    text-indent: 4px;
    line-height: 44px;
    .clild-title {
        font-size: 14px;
        color: $blackText;
    }
    .title {
        float: left;
        line-height: 43px;
        padding: 0 8px;
        margin-right: 20px;
        color: $grayText;
        text-align: center;
        text-indent: -1px;
    }
    .title-active {
        color: $blueText;
        border-bottom: 2px solid $blueText;
    }
    .title-right {
        float: right;
        line-height: 44px;
        font-size: 12px;
    }
    .tr-list {
        float: left;
        cursor: pointer;
    }
    .icon-24 {
        float: left;
        margin: 10px 0 0 5px;
    }
}
//大中小字体
.min-text {
    font-size: $min-text;
}
.middle-text {
    font-size: $middle-text;
}
.big-text {
    font-size: $big-text;
}
//小图标
.icon-24 {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/bj.png);
}
.upload-photo-icon {
    background-position: -24px -289px;
}
.add-album-icon {
    background-position: 0 -289px;
}
.change-album-icon {
    background-position: 0 -160px;
}
.delete-album-icon {
    background-position: -48px -289px;
}
.text-icon {
    background-position: -106px -17px;
}
.wirte-icon {
    background-position: -110px -57px;
}
//公共
//三角
.sanjiao {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    top: 8px;
    right: 5px;
}
.sanjiao-top {
    border-bottom: 5px solid transparent;
    border-top: none;
}
//编辑框
.set-box {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    background: $whiteText;
    border: 1px solid $borderColor;
    padding: 0 3px;
    .set-list {
        display: none;
        width: 60px;
        border: 1px solid $borderColor;
        background-color: $whiteText;
        text-align: center;
        position: absolute;
        top: 20px;
        right: -1px;
        a {
            display: block;
            background-color: #fff;
            color: $blackText;
            &:hover {
                background-color: $blueText;
                color: $whiteText;
            }
        }
    }
    .set-name {
        display: block;
        cursor: pointer;
    }
}
//相框大小
.aimg-box {
    display: block;
    width: 176px;
    height: 176px;
    overflow: hidden;
    position: relative;
    background: red;
}

/*会话确认框*/
/*遮罩层*/

#mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    filter: alpha(opacity=60);
    z-index: 98;
}
/*提示框*/
.dialog-box {
    @extend %dialog-box;
    padding: 0 12px !important;
    .box-header {
        font-weight: bold;
        font-size: $middle-text;
        text-align: left;
    }
    #confirm {
        @include  btn(78px,34px,true);
    }
    #cancel {
        @include  btn(78px,34px,false);
    }
    .btns {
        text-align: center;
        a {
            margin: 0 10px !important;
        }
    }
}
/*删除提示框*/
#confirmDialog {
    @include boxSize(380px,190px);
    margin: -95px 0 0 -190px;
    font-size: $min-text;
    text-align: center;
    .text {
        line-height: 68px;
    }
}
/*相册编辑 相册创建*/
#changeAlbumDialog {
    @include boxSize(580px,440px);
    margin: -220px 0 0 -270px;
    .change-abtop {
        margin: 30px 20px 20px 60px;
    }
    .change-abtitle,.ab-name-num {
        display: inline-block;
        line-height: 42px;
        margin: 0 3px;
    }
    .calbum-name {
        width: 300px;
        height: 40px;
        line-height: 40px;
        border: 1px solid $borderColor;
        padding: 0 10px;
    }
    .ab-name-num {
        width: 40px;
        text-align: center;
        vertical-align: top;
        white-space: nowrap;
        .numok {
            color: $blackText;
            font-weight: bold;
        }
    }
    .album-msg {
         width: 300px;
         height: 150px;
         border: 1px solid $borderColor;
         padding: 10px;
         vertical-align: top;
         overflow-y: auto;
     }
    .per-box {
        margin-left: 60px;
    }
    .permission {
         width: 100px;
    }
}
/*创建分类，修改分类名称对话框*/
#changeClassDialog {
    @include boxSize(408px,206px);
    margin: -103px 0 0 -204px;
    .remove-hint-text {
        line-height: 78px;
        text-align: center;
    }
    .bottom_hint {
        text-align: center;
        line-height: 16px;
        margin-top: -15px;
        margin-bottom: 10px;
    }
    #change-className {
        width: 162px;
        height: 20px;
        line-height: 20px;
        padding: 5px 10px;
    }
    .remove-hint-text span {
        display: inline-block;
        font-size: $middle-text;
        vertical-align: top;
        margin: 0 5px;
    }
}
/*好友分组选择对话框*/
#friendGroupDialog {
    @include boxSize(408px,206px);
    margin: -103px 0 0 -204px;
    .remove-hint-text {
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .add-friend-class {
        display: inline-block;
        width: 220px;
        height: 38px;
        text-align: left;
        line-height: 38px;
        padding: 0 30px 0 15px;
        border: 1px solid $borderColor;
        position: relative;
    }
    #friend-group {
        display: block;
        cursor: pointer;
        width: 220px;
        height: 38px;
        padding: 0 30px 0 15px;
        margin-left: -15px;
        position: relative;
        z-index: 2;
    }
    #group-list {
        display: none;
        position: absolute;
        top: 39px;
        left: -1px;
        width: 100%;
        line-height: 24px;
        background: $whiteText;
        border: 1px solid $borderColor;
        border-top: none;
        text-indent: 15px;
        max-height: 72px;
        overflow-y: auto;
        .group-list {
            cursor: pointer;
            @extend %textEllipsis;
            &:hover {
                background-color: $blueText;
                color: $whiteText;
            }
        }
    }
}
/*照片移动至相册提示框*/
#photoMoveDialog {
    @include boxSize(700px,370px);
    margin: -185px 0 0 -350px;
    .album-boxs {
        height: 280px;
        overflow-y: auto;
    }
    .al-box {
        float: left;
        margin: 10px 2px 10px 2px;
        width: 157px;
        height: 70px;
        position: relative;
        cursor: pointer;
    }
    .choose-pic {
        width: 70px;
        height: 70px;
        float: left;
    }
    .box-msg {
        float: left;
        line-height: 35px;
        color: $grayText;
        text-indent: 10px;
    }
    .msg-name {
        color: $blackText;
        display: block;
        max-width: 82px;
        @extend %textEllipsis;
    }
    .box-radio {
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        border: 1px solid $borderColor;
        background: $whiteText;
    }
    .box-radio-active {
        background: url(../images/bj.png) no-repeat 0 -329px;
    }
}