@charset "utf-8";
@import "base.scss";
.left-nav-ul {
    width: 196px;
    float: left;
    border: 1px solid $divider;
    .left-nav-li {
        background: $white;
        height: 17px;
        border-bottom: 1px solid $divider;
        padding: 18px 0;
        span {
            @extend %textEllipsis;
            cursor: pointer;
            display: inline-block;
            width: 137px;
            padding-left: 26px;
            font: 16px/16px "微软雅黑";
            color: $lighttext;
        }
        &:hover span {
            color: $darktext;
        }
    }
    .checked {
        background: $lightgray;
        span {
            border-left: 5px solid $darkblue;
            padding-left: 21px;
            color: $darktext;
        }
    }
    .edit-li {
        padding: 9px 0 8px;
        height: 36px;
        .self_edit_category {
            margin-top: 10px;
            img {
                cursor: pointer;
                display: none;
                width: 16px;
                height: 16px;
            }
            &:hover img {
                display: inline-block;
            }
        }
        .add-show {
            margin-top: 10px;
            img {
                width: 12px;
                height: 12px;
                vertical-align: baseline;
                margin-right: 12px;
            }
            span {
                color: $darkblue;
            }
        }
    }
    .category-edit {
        padding-left: 8px;
        input[type=text] {
            padding: 0 4px;
            height: 32px;
            width: 124px;
            @extend %ipt;
            font: 16px/16px;
        }
        input[type=button] {
            margin-left: 5px;
            width: 45px;
            height: 34px;
            vertical-align: top;
            @extend %btn;
        }
    }
}