@charset "utf-8"
body,ul,li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.clearFix {
    zoom: 1;
}
.clearFix:after {
    content: "";
    display: block;
    clear: both;
}

img{
    vertical-align: top;
    border: none;
}
