body, ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.clearFix {
  zoom: 1; }

.clearFix:after {
  content: "";
  display: block;
  clear: both; }

input {
  font-family: Microsoft YaHei;
  color: #383838;
  outline: none; }

img {
  vertical-align: top;
  border: none; }

.main {
  background: #f5f6fa;
  width: 1920px; }

.container {
  width: 998px;
  position: relative;
  margin: 0 auto; }

.admit-button, .cancel-button, .right-article #article-top-area .upload-button {
  cursor: pointer;
  padding: 0;
  border: 0;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.right-article #article-top-area #serach-area input[type=text] {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #1da1f3; }

.right-article .list-area .list-item .item-message .item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.admit-button {
  background: #1da1f3;
  color: #ffffff;
  font-family: "microsoft yahei";
  font-size: 14px;
  border: 1px solid #1da1f3; }

.cancel-button {
  background: #acbbd0;
  color: #ffffff; }

.main {
  height: 1500px; }

.right-article {
  float: right;
  width: 786px; }
  .right-article #article-top-area {
    height: 52px;
    width: inherit;
    background: url(../images/shadow.png) repeat-x 0 center;
    border: 1px solid #e1e1e1; }
    .right-article #article-top-area #serach-area {
      background: #ffffff;
      display: inline-block;
      width: 283px;
      border: 1px solid #e1e1e1;
      margin: 9px 8px 9px 16px;
      height: 32px; }
      .right-article #article-top-area #serach-area .serach-box {
        cursor: pointer;
        display: inline-block;
        width: 87px;
        border-right: 1px solid #e1e1e1;
        height: 32px;
        vertical-align: top;
        position: relative;
        float: left;
        background: url("../images/trangle_down.png") no-repeat 70px 9px; }
        .right-article #article-top-area #serach-area .serach-box span {
          display: inline-block;
          color: #383838;
          font: 14px/14px "microsoft yahei";
          margin-left: 10px;
          margin-top: 10px; }
        .right-article #article-top-area #serach-area .serach-box ul {
          width: inherit;
          position: absolute;
          top: 33px;
          left: -1px;
          z-index: 10; }
          .right-article #article-top-area #serach-area .serach-box ul li {
            width: inherit;
            height: 31px;
            background: #ffffff;
            border-bottom: 1px solid #e1e1e1;
            border-left: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1; }
            .right-article #article-top-area #serach-area .serach-box ul li span {
              color: #828282; }
          .right-article #article-top-area #serach-area .serach-box ul .darkbg {
            background: #eef1f6; }
            .right-article #article-top-area #serach-area .serach-box ul .darkbg span {
              color: #383838; }
      .right-article #article-top-area #serach-area input[type=text] {
        padding: 0 4px;
        height: 32px;
        width: 187px;
        border: 0;
        float: left;
        font: 14px/16px "microsoft yahei"; }
        .right-article #article-top-area #serach-area input[type=text]:focus {
          border: 0; }
    .right-article #article-top-area input[type=button] {
      height: 33px;
      width: 66px;
      background: #5db8fe;
      margin-top: 10px;
      display: inline-block;
      vertical-align: top; }
      .right-article #article-top-area input[type=button]:hover {
        background: #1da1f3; }
    .right-article #article-top-area .upload-button {
      display: inline-block;
      background: #ff9453;
      color: #ffffff;
      height: 40px;
      width: 90px;
      vertical-align: top;
      margin-top: 6px;
      margin-left: 292px;
      position: relative; }
      .right-article #article-top-area .upload-button span {
        font: 16px/40px "microsoft yahei"; }
      .right-article #article-top-area .upload-button img {
        width: 13px;
        height: 16px;
        margin: 12px 3px 0 -3px; }
  .right-article .list-area {
    height: auto;
    width: inherit;
    position: relative; }
    .right-article .list-area .list-item {
      background: #ffffff;
      border-bottom: 1px solid #e1e1e1;
      border-left: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      padding: 18px 16px;
      height: 54px;
      width: 754px; }
      .right-article .list-area .list-item .item-type-image {
        height: 54px;
        width: 54px; }
      .right-article .list-area .list-item .item-message {
        display: inline-block;
        width: 691px; }
        .right-article .list-area .list-item .item-message .item-title {
          cursor: pointer;
          margin: 3px 3px 0 0;
          display: inline-block;
          width: 568px;
          font-size: 16px; }
        .right-article .list-area .list-item .item-message .item-time {
          display: inline-block;
          margin-top: 5px;
          float: right;
          font-size: 14px;
          color: #828282; }
        .right-article .list-area .list-item .item-message .item-control {
          margin: 8px 0 0 -2px; }
          .right-article .list-area .list-item .item-message .item-control div {
            cursor: pointer;
            padding: 0 10px 0 18px;
            float: left;
            border-right: 1px solid #e1e1e1;
            zoom: normal;
            height: 14px;
            margin-left: 10px;
            color: #828282; }
            .right-article .list-area .list-item .item-message .item-control div img {
              margin-top: 5px; }
            .right-article .list-area .list-item .item-message .item-control div:hover {
              color: #1da1f3; }
          .right-article .list-area .list-item .item-message .item-control .delete-area {
            background: url("../images/delete_black.png") no-repeat; }
            .right-article .list-area .list-item .item-message .item-control .delete-area:hover {
              background: url("../images/delete_blue.png") no-repeat; }
          .right-article .list-area .list-item .item-message .item-control .upload-area {
            background: url("../images/upload_black.png") no-repeat; }
            .right-article .list-area .list-item .item-message .item-control .upload-area:hover {
              background: url("../images/upload_blue.png") no-repeat; }
          .right-article .list-area .list-item .item-message .item-control .share-area {
            background: url("../images/share_black.png") no-repeat; }
            .right-article .list-area .list-item .item-message .item-control .share-area:hover {
              background: url("../images/share_blue.png") no-repeat; }
          .right-article .list-area .list-item .item-message .item-control .disshare-area {
            background: url("../images/disshare_black.png") no-repeat; }
            .right-article .list-area .list-item .item-message .item-control .disshare-area:hover {
              background: url("../images/disshare_blue.png") no-repeat; }
          .right-article .list-area .list-item .item-message .item-control span {
            color: inherit;
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
            line-height: 14px; }

/*# sourceMappingURL=result_list.css.map */
