@charset "utf-8";
@import "../../sh/sass/base/_base";
#upload-box {
    @extend %pad-19;
    .upload-box {
        padding: 35px 0 50px 40px;
    }
    .up-title {
        float: left;
        line-height: 30px;
        width: 10%;
        text-align: center;
        margin-bottom: 20px;
    }
    .album-class {
        float: left;
        width: 200px;
        height: 28px;
        line-height: 28px;
        border: 1px solid $borderColor;
        text-indent: 5px;
        background-color: $whiteText;
        position: relative;
        cursor: pointer;
    }
    .sanjiao {
        top: 12px;
        right: 8px;
    }
    #al-classname {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-right: 20px;
        box-sizing: border-box;
        @extend %textEllipsis;
    }
    #al-classbox {
        position: absolute;
        top: 29px;
        left: -1px;
        width: 100%;
        background-color: $whiteText;
        border: 1px solid $borderColor;
        display: none;
        z-index: 10;
        max-height: 268px;
        overflow-y: auto;
        margin-top: -1px;
    }
    .al-classnames {
        display: block;
        color: $blackText;
        &:hover {
            color: $whiteText;
            background: $blueText;
        }
        @extend %textEllipsis;
    }
    #wrapper {
        width:90%;
        float: left;
        margin: 0;
        //height:;
    }
}