a{
	color: #383838;
}
li {
	list-style: none;
	cursor: pointer;
}

.clearFix:after {
	content: "";
	display: block;
	clear: both;
}

a{
	color: none;
	text-decoration: none;
}

.main {
	width: 100%;
	_width: 100%;
	margin: 0 auto;
}

.content {
	width: 1000px;
	margin: 0 auto;
}
.title-img{
	width: 100%;
	height: 320px;
}

.title-img img{
	width:  100%;
	height: inherit;
}
.header {
	background: #3598d9;
	height: 60px;
	width: 100%;
	line-height: 60px;
}

.footer {
	position: relative;
	/*top: 1188px;*/
	background: #ededed;
	height: 170px;
	width: 100%;
}
.main-content {
	position: relative;
	/*top: 380px;*/
	background: #F7F7F7;
	width: 100%;
	margin: 0 auto;
}

.breadLine {
	padding-left:18px;
}

.breadLine span a {
	cursor: pointer;	
	color: #828282;
}

.breadLine span  {
	display: inline-block;
	margin-top: 9px;
	font: 12px "微软雅黑";
	height: 30px;
}

.block {
	padding-bottom: 10px;
}

.block > div {
	background: white;
	border: 1px solid #eeeeee;
}
#block1 {
	margin-top: 10px;
}
#block1>div {
	display: inline-block;
	height: 248px;
}

#block1>div:first-child {
	width: 664px;
	height: 248px;
	float: left;
}

#block1>div:last-child {
	width: 326px;
	float: right;
}

.block-title-bar {
	display: inline-block;
	height: 46px;
	margin: 0px 18px;
	border-bottom: 1px solid #EEEEEE;
}

.block-title-bar>span:first-child {
	display: inline-block;
	font: 16px "微软雅黑";
	font-weight: bold;
	color: #383838;
	vertical-align: middle;
	margin-right: 35px;
}

.theme-list {
	height: inherit;
	display: inline-block;
	vertical-align: middle;
}

.theme-small-title {
	height: inherit;
	display: inline-block;
	padding: 0px 0px;
}

.theme-small-title span {
	border-right: 1px solid #EEEEEE;
	vertical-align: middle;
	font: 14px "微软雅黑";
	display: inline-block;
	margin: 13px 0px 0px 11px;
	padding-right: 11px;
}

.theme-small-title:active {
	border-bottom: 2px solid #3598d9;
	color: #3598d9;
}

.theme-list li:last-child span {
	border-right: none;
}

.more_message {
	display: inline-block;
	vertical-align: middle;
	font: 12px "微软雅黑";
	color: #828282;
	cursor: pointer;
	margin-top: 15px;
	float: right;
}

.blue-title-item {
	border-bottom: 2px solid #3598d9;
	color: #3598D9;
}
.theme-content>div {
	display: inline-block;
	float: left;
}


.theme-img {
	width: 260px;
	height: 170px;
	margin: 15px 18px;
	border: 1px solid #EEEEEE;
	overflow: hidden;
}

.theme-img img {
	height: 100%;
	width: 100%;
}

.theme-news {
	margin: 15px 0px;
	height: 170px;
}

.theme-news li {
	background: url(../img/list_item_icon.png) no-repeat 3px 4px;
}

.theme-news li span {
	margin-bottom: 8px;
	display: inline-block;
	width: 310px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 25px;
	font: 14px/18px "微软雅黑";
}

.theme-news li span:hover {
	text-decoration: underline;
}

#moralEduNews {
	width: 360px;
	margin-left: 6px;
}

#psyEduNews {
	width: 306px;
	margin-left: 18px;
}

#safeAndEmergencyNews1 {
	width: 306px;
	margin-left: 7px;
}

#safeAndEmergencyNews2 {
	width: 306px;
	margin-left: 76px;
}

#safeAndEmergencyNews2 ul span {
	width: 260px;
}

#psyEduNews li span {
	width: 260px;
}

#block3>div {
	display: inline-block;
	float: left;
	margin-left: 8px;
}

#block3>div:first-of-type {
	margin-left: 0px;
}

.content-list {
	background: white;
	padding: 0px 18px 20px 18px;
}

.news-list-item{
	height: 46px;
	border-bottom: 1px solid #EEEEEE;
}
.news-list{
	height: 423px;
}
.news-list-item-news{
	font : 14px "微软雅黑";
	color: #656565;
	margin-top: 16px;
	display: inline-block;
}
.news-publish-time{
	color: #828282;
	font:12px "微软雅黑";
	margin:17px 0px 0px 0px;
	float: right;
}

.content-page{
	height: 190px;
}
.page-navigator{
	text-align: center;
	
}
.nav-input{
	line-height: 32px;
	margin-top: 79px;
	cursor: pointer;
	margin-left: 20px;
	width: 32px;
	height: 32px;
	outline: none;
	background: white;
	text-align: center;
	border: 1px solid #EEEEEE;
}
.blue-nav{
	color: #FFFFFF;
	background: #3598D9;
}
.page-navigator {	
	margin-top: 40px;
}





